In [86]:
# imports
import pandas as pd
from numpy import nan
import matplotlib.pyplot as plt

import statsmodels
import statsmodels.api as sm

# Read data

In [87]:
# read data into a DataFrame
df = pd.read_csv("data/need_2021_anon_dataset_50k.csv")

print(df.shape)

(50000, 75)

In [88]:
df.head()

,PROP_TYPE,PROP_AGE_BAND,FLOOR_AREA_BAND,CONSERVATORY_FLAG,COUNCIL_TAX_BAND,IMD_BAND_ENG,IMD_BAND_WALES,REGION,LI_FLAG,LI_DATE,...,ElecValFlag2014,ElecValFlag2013,ElecValFlag2012,ElecValFlag2011,ElecValFlag2010,ElecValFlag2009,ElecValFlag2008,ElecValFlag2007,ElecValFlag2006,ElecValFlag2005
0,Mid terrace,2,3,NaN,B,2.0,NaN,E12000005,0,NaN,...,V,E,E,V,E,V,V,V,V,V
1,Flat,3,2,NaN,A,1.0,NaN,E12000008,0,NaN,...,V,V,V,V,V,V,V,V,V,V
2,Mid terrace,1,3,NaN,A,2.0,NaN,E12000001,0,NaN,...,V,V,V,V,V,V,V,V,V,V
3,Flat,4,1,0.0,A,3.0,NaN,E12000004,0,NaN,...,O,O,O,O,O,O,O,O,O,O
4,Semi detached,2,2,NaN,D,5.0,NaN,E12000008,0,NaN,...,V,V,V,V,V,V,V,V,V,V

In [89]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 75 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   PROP_TYPE          50000 non-null  object
 1   PROP_AGE_BAND      50000 non-null  int64
 2   FLOOR_AREA_BAND    50000 non-null  int64
 3   CONSERVATORY_FLAG  7418 non-null   float64
 4   COUNCIL_TAX_BAND   50000 non-null  object
 5   IMD_BAND_ENG       47410 non-null  float64
 6   IMD_BAND_WALES     2590 non-null   float64
 7   REGION             50000 non-null  object
 8   LI_FLAG            50000 non-null  int64
 9   LI_DATE            8568 non-null   float64
 10  CWI_FLAG           50000 non-null  int64
 11  CWI_DATE           8412 non-null   float64
 12  PV_FLAG            50000 non-null  int64
 13  PV_DATE            561 non-null    float64
 14  MAIN_HEAT_FUEL     50000 non-null  int64
 15  Gcons2019          40329 non-null  float64
 16  Gcons2018          40349 non-null  float64
 17  Gcons2017          40230 non-null  float64
 18  Gcons2016          39737 non-null  float64
 19  Gcons2015          39208 non-null  float64
 20  Gcons2014          38915 non-null  float64
 21  Gcons2013          38584 non-null  float64
 22  Gcons2012          38388 non-null  float64
 23  Gcons2011          38303 non-null  float64
 24  Gcons2010          38090 non-null  float64
 25  Gcons2009          37828 non-null  float64
 26  Gcons2008          37426 non-null  float64
 27  Gcons2007          37205 non-null  float64
 28  Gcons2006          36668 non-null  float64
 29  Gcons2005          36104 non-null  float64
 30  GasValFlag2019     41920 non-null  object
 31  GasValFlag2018     41920 non-null  object
 32  GasValFlag2017     41920 non-null  object
 33  GasValFlag2016     41920 non-null  object
 34  GasValFlag2015     41920 non-null  object
 35  GasValFlag2014     41920 non-null  object
 36  GasValFlag2013     41920 non-null  object
 37  GasValFlag2012     41920 non-null  object
 38  GasValFlag2011     41920 non-null  object
 39  GasValFlag2010     41920 non-null  object
 40  GasValFlag2009     41920 non-null  object
 41  GasValFlag2008     41920 non-null  object
 42  GasValFlag2007     41920 non-null  object
 43  GasValFlag2006     41920 non-null  object
 44  GasValFlag2005     41920 non-null  object
 45  Econs2019          47028 non-null  float64
 46  Econs2018          46924 non-null  float64
 47  Econs2017          46400 non-null  float64
 48  Econs2016          46045 non-null  float64
 49  Econs2015          45547 non-null  float64
 50  Econs2014          45300 non-null  float64
 51  Econs2013          45096 non-null  float64
 52  Econs2012          44753 non-null  float64
 53  Econs2011          44599 non-null  float64
 54  Econs2010          44237 non-null  float64
 55  Econs2009          43722 non-null  float64
 56  Econs2008          43087 non-null  float64
 57  Econs2007          42979 non-null  float64
 58  Econs2006          42713 non-null  float64
 59  Econs2005          41614 non-null  float64
 60  ElecValFlag2019    49095 non-null  object
 61  ElecValFlag2018    49095 non-null  object
 62  ElecValFlag2017    49095 non-null  object
 63  ElecValFlag2016    49095 non-null  object
 64  ElecValFlag2015    49095 non-null  object
 65  ElecValFlag2014    49095 non-null  object
 66  ElecValFlag2013    49095 non-null  object
 67  ElecValFlag2012    49095 non-null  object
 68  ElecValFlag2011    49095 non-null  object
 69  ElecValFlag2010    49095 non-null  object
 70  ElecValFlag2009    49095 non-null  object
 71  ElecValFlag2008    49095 non-null  object
 72  ElecValFlag2007    49095 non-null  object
 73  ElecValFlag2006    49095 non-null  object
 74  ElecValFlag2005    49095 non-null  object
dtypes: float64(36), int64(6), object(33)
memory usage: 28.6+ MB

# Wrangle data
## select rows

In [90]:
# Select rows where the 'IMD_BAND_ENG' column is not NaN
df = df[df['IMD_BAND_ENG'].notna()]

print(df.shape)

(47410, 75)

## select columns

In [91]:
df = df[
    ['PROP_TYPE', 'PROP_AGE_BAND', 'FLOOR_AREA_BAND', 'COUNCIL_TAX_BAND',
     'IMD_BAND_ENG', 'REGION', 'LI_FLAG', 'CWI_FLAG', 'PV_FLAG', 'MAIN_HEAT_FUEL',
     'Gcons2019', 'Gcons2018', 'Gcons2017', 'Gcons2016', 'Gcons2015', 'Gcons2014', 'Gcons2013', 'Gcons2012', 'Gcons2011', 'Gcons2010', 'Gcons2009', 'Gcons2008', 'Gcons2007', 'Gcons2006', 'Gcons2005',
     'Econs2019', 'Econs2018', 'Econs2017', 'Econs2016', 'Econs2015', 'Econs2014', 'Econs2013', 'Econs2012', 'Econs2011', 'Econs2010', 'Econs2009', 'Econs2008', 'Econs2007', 'Econs2006', 'Econs2005']
]

print(df.shape)

(47410, 40)

## dealing with NaN

In [92]:
# Define the columns of interest
g_columns = [f'Gcons{i}' for i in range(2019, 2004, -1)]
e_clumns = [f'Econs{i}' for i in range(2019, 2004, -1)]

# Drop rows where both Gcons and Econs columns are NaN
df = df.dropna(subset=g_columns + e_columns, how='all')

print(df.shape)
df.info()

(47335, 40)
<class 'pandas.core.frame.DataFrame'>
Index: 47335 entries, 0 to 49999
Data columns (total 40 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   PROP_TYPE         47335 non-null  object
 1   PROP_AGE_BAND     47335 non-null  int64
 2   FLOOR_AREA_BAND   47335 non-null  int64
 3   COUNCIL_TAX_BAND  47335 non-null  object
 4   IMD_BAND_ENG      47335 non-null  float64
 5   REGION            47335 non-null  object
 6   LI_FLAG           47335 non-null  int64
 7   CWI_FLAG          47335 non-null  int64
 8   PV_FLAG           47335 non-null  int64
 9   MAIN_HEAT_FUEL    47335 non-null  int64
 10  Gcons2019         38309 non-null  float64
 11  Gcons2018         38318 non-null  float64
 12  Gcons2017         38206 non-null  float64
 13  Gcons2016         37731 non-null  float64
 14  Gcons2015         37236 non-null  float64
 15  Gcons2014         36954 non-null  float64
 16  Gcons2013         36639 non-null  float64
 17  Gcons2012         36457 non-null  float64
 18  Gcons2011         36371 non-null  float64
 19  Gcons2010         36158 non-null  float64
 20  Gcons2009         35903 non-null  float64
 21  Gcons2008         35516 non-null  float64
 22  Gcons2007         35306 non-null  float64
 23  Gcons2006         34791 non-null  float64
 24  Gcons2005         34266 non-null  float64
 25  Econs2019         44597 non-null  float64
 26  Econs2018         44511 non-null  float64
 27  Econs2017         44012 non-null  float64
 28  Econs2016         43658 non-null  float64
 29  Econs2015         43194 non-null  float64
 30  Econs2014         42945 non-null  float64
 31  Econs2013         42749 non-null  float64
 32  Econs2012         42432 non-null  float64
 33  Econs2011         42273 non-null  float64
 34  Econs2010         41934 non-null  float64
 35  Econs2009         41426 non-null  float64
 36  Econs2008         40822 non-null  float64
 37  Econs2007         40789 non-null  float64
 38  Econs2006         40466 non-null  float64
 39  Econs2005         39373 non-null  float64
dtypes: float64(31), int64(6), object(3)
memory usage: 14.8+ MB

In [93]:
# fill NaN with 0 if both Gcons or Econs columns are NaN
condition1 = df.iloc[:, 10:25].isna().all(axis=1)
df.loc[condition1, df.columns[10:25]] = 0

condition2 = df.iloc[:, 25:].isna().all(axis=1)
df.loc[condition2, df.columns[25:]] = 0

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 47335 entries, 0 to 49999
Data columns (total 40 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   PROP_TYPE         47335 non-null  object
 1   PROP_AGE_BAND     47335 non-null  int64
 2   FLOOR_AREA_BAND   47335 non-null  int64
 3   COUNCIL_TAX_BAND  47335 non-null  object
 4   IMD_BAND_ENG      47335 non-null  float64
 5   REGION            47335 non-null  object
 6   LI_FLAG           47335 non-null  int64
 7   CWI_FLAG          47335 non-null  int64
 8   PV_FLAG           47335 non-null  int64
 9   MAIN_HEAT_FUEL    47335 non-null  int64
 10  Gcons2019         46100 non-null  float64
 11  Gcons2018         46109 non-null  float64
 12  Gcons2017         45997 non-null  float64
 13  Gcons2016         45522 non-null  float64
 14  Gcons2015         45027 non-null  float64
 15  Gcons2014         44745 non-null  float64
 16  Gcons2013         44430 non-null  float64
 17  Gcons2012         44248 non-null  float64
 18  Gcons2011         44162 non-null  float64
 19  Gcons2010         43949 non-null  float64
 20  Gcons2009         43694 non-null  float64
 21  Gcons2008         43307 non-null  float64
 22  Gcons2007         43097 non-null  float64
 23  Gcons2006         42582 non-null  float64
 24  Gcons2005         42057 non-null  float64
 25  Econs2019         45474 non-null  float64
 26  Econs2018         45388 non-null  float64
 27  Econs2017         44889 non-null  float64
 28  Econs2016         44535 non-null  float64
 29  Econs2015         44071 non-null  float64
 30  Econs2014         43822 non-null  float64
 31  Econs2013         43626 non-null  float64
 32  Econs2012         43309 non-null  float64
 33  Econs2011         43150 non-null  float64
 34  Econs2010         42811 non-null  float64
 35  Econs2009         42303 non-null  float64
 36  Econs2008         41699 non-null  float64
 37  Econs2007         41666 non-null  float64
 38  Econs2006         41343 non-null  float64
 39  Econs2005         40250 non-null  float64
dtypes: float64(31), int64(6), object(3)
memory usage: 14.8+ MB

In [95]:
# fill other NaN with the mean of the column
df.iloc[:, 10:] = df.iloc[:, 10:].apply(lambda col: col.fillna(col.mean()), axis=0)

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 47335 entries, 0 to 49999
Data columns (total 40 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   PROP_TYPE         47335 non-null  object
 1   PROP_AGE_BAND     47335 non-null  int64
 2   FLOOR_AREA_BAND   47335 non-null  int64
 3   COUNCIL_TAX_BAND  47335 non-null  object
 4   IMD_BAND_ENG      47335 non-null  float64
 5   REGION            47335 non-null  object
 6   LI_FLAG           47335 non-null  int64
 7   CWI_FLAG          47335 non-null  int64
 8   PV_FLAG           47335 non-null  int64
 9   MAIN_HEAT_FUEL    47335 non-null  int64
 10  Gcons2019         47335 non-null  float64
 11  Gcons2018         47335 non-null  float64
 12  Gcons2017         47335 non-null  float64
 13  Gcons2016         47335 non-null  float64
 14  Gcons2015         47335 non-null  float64
 15  Gcons2014         47335 non-null  float64
 16  Gcons2013         47335 non-null  float64
 17  Gcons2012         47335 non-null  float64
 18  Gcons2011         47335 non-null  float64
 19  Gcons2010         47335 non-null  float64
 20  Gcons2009         47335 non-null  float64
 21  Gcons2008         47335 non-null  float64
 22  Gcons2007         47335 non-null  float64
 23  Gcons2006         47335 non-null  float64
 24  Gcons2005         47335 non-null  float64
 25  Econs2019         47335 non-null  float64
 26  Econs2018         47335 non-null  float64
 27  Econs2017         47335 non-null  float64
 28  Econs2016         47335 non-null  float64
 29  Econs2015         47335 non-null  float64
 30  Econs2014         47335 non-null  float64
 31  Econs2013         47335 non-null  float64
 32  Econs2012         47335 non-null  float64
 33  Econs2011         47335 non-null  float64
 34  Econs2010         47335 non-null  float64
 35  Econs2009         47335 non-null  float64
 36  Econs2008         47335 non-null  float64
 37  Econs2007         47335 non-null  float64
 38  Econs2006         47335 non-null  float64
 39  Econs2005         47335 non-null  float64
dtypes: float64(31), int64(6), object(3)
memory usage: 14.8+ MB

## change data type